body {
  background-color: #FBF7ED;
  color: #593916;
  font-family: "Zen Maru Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

.inner {
  width: 90%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.slideshow {
  display: flex;
  margin-bottom: 3.125em;
  overflow-x: auto;
  gap: 10px;
}

.slide {
  flex: 0 0 auto;
  width: 300px;
  padding: 10px;
  background-color: #FFFFFE;
  border: 2px solid #FFD98D;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 6px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background: #E3B861;
  color: #FFFFFE;
  font-weight: 500;
  text-decoration: none;
  border-radius: 5px;
  transition: 0.3s;
}
.btn__auto {
  text-align: center;
}
.btn:hover {
  background: #CBA276;
}

.house__top {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  background-color: #FFEDCA;
  margin-bottom: 2.8125em;
  padding: 1.875em;
}
.house__btn {
  width: 1.875em;
  position: relative;
}
.house__heading {
  font-size: 1.5rem;
  font-weight: 500;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  text-align: center;
}
.house__detail {
  margin: 3.125em 0 1.25em;
  padding: 0.3571428571em 0.7142857143em;
  background-color: #E3B861;
  color: #FFFFFE;
  border-radius: 0.3571428571em;
  font-weight: 500;
}
.house__title {
  margin: 1em;
  font-size: 1.25rem;
  font-weight: 500;
  text-align: center;
  color: #CBA276;
}
.house__category {
  margin: 0.9375em 0 0;
  margin-bottom: 30px;
}
.house__category strong {
  padding: 0.3571428571em 0.7142857143em;
  color: #FFFFFE;
  background-color: #E3B861;
  font-size: 0.875rem;
  font-weight: 500;
  border-radius: 0.3571428571em;
}

.detail {
  margin: 0.9375em 0;
}
.detail strong {
  padding: 0.3571428571em 0.7142857143em;
  color: #FFFFFE;
  background-color: #E3B861;
  font-size: 0.875rem;
  font-weight: 500;
  border-radius: 0.3571428571em;
}

.acces__heading {
  margin-bottom: 1.5em;
  padding: 0.5em;
  font-size: 1.25rem;
  font-weight: 500;
  color: #FFFFFE;
  background-color: #E3B861;
  border-radius: 0.5em;
}
.acces__detail {
  margin-top: 1.875em;
  margin-bottom: 6.25em;
}

.full-bleed {
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  width: 100vw;
  box-sizing: border-box;
  overflow: hidden;
}
.full-bleed iframe {
  display: block;
  width: 100vw;
  max-width: 100vw;
  height: 300px;
  border: 0;
}
.full-bleed {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.room-photo {
  aspect-ratio: 4/3;
  object-fit: cover;
}