@charset "UTF-8";

body {
    margin: 0;
    background-color: #FBF7ED;
    color: #593916;
    font-family: "Zen Maru Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

.profileTop {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    background-color: #FFEDCA;
    padding: 1.875em;
    /* (30em / 16) = 1.875em */
}

.profileTop__btn {
    width: 1.875em;
    /* (30em / 16) = 1.875em */
    position: relative;
}

.profileTop__heading {
    font-size: 1.5rem;
    /* f-rem(24) = 24/16 = 1.5rem */
    font-weight: 500;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.profile-container {
    max-width: 500px;
    padding: 2rem 2rem 4em;
    background:#FBF7ED;
    border-radius: 10px;
    font-family: 'Zen Maru Gothic', sans-serif;
}

.profile-container h1 {
    text-align: center;
    margin-bottom: 2rem;
}

.profile-container form label {
    display: block;
    margin-top: 1rem;
    font-weight: bold;
}

.profile-container form input {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.25rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
}

.profile-container form button {
    margin-top: 2.5rem;
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0.75rem;
    border: none;
    border-radius: 30px;
    background-color: #E3B861;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
}

.profile-container form button:hover {
    background-color: #f3c977;
}
