body {
  font-family: "Zen Maru Gothic", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fffef6;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

.rentalsTop {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  background-color: #FFEDCA;
  margin-bottom: 2.5em;
  padding: 1.875em;
}

.rentalsTop__btn {
  width: 1.875em;
  position: relative;
}

.rentalsTop__heading {
  font-size: 1.5rem;
  font-weight: 500;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

h1 {
  font-size: 24px;
  margin: 0;
  color: #774200;
  font-weight: bold;
}

.view-btn {
  display: inline-block;
  margin-top: 10px;
  padding: 5px 10px;
  background: #774200;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.museum {
  margin-bottom: 1rem;
  padding: 1.875em 0.9375em;
  border: 5px solid #ffd98d;
  border-radius: 1.25em;
  transition: transform 0.2s ease;
  background-color: #f9f9f9;
}
.museum:hover {
  transform: translateY(-1px);
}

.museum-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.museum-photo {
  width: 50%;
  margin-right: 0.625em;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}
.museum-title {
    width: 100%;
}

.room {
  padding: 0 0.625em 1.25em;
  margin-bottom: 20px;
  border-bottom: 2px solid #ffd98d;
}
.room:last-child {
  border: none;
  padding-bottom: 0;
  margin-bottom: 0;
}

.museums__inner {
  width: 90%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.museums__room {
  display: block;
  width: 60%;
  margin-top: 22px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.25em;
  padding: 10px 20px;
  background: #E3B861;
  color: #FFFFFE;
  font-weight: 500;
  text-decoration: none;
  border-radius: 5px;
  transition: 0.3s;
  text-align: center;
}
.museums__room:hover {
  background-color: #d9a94f;
}

.detail {
  margin: 0.9375em 0;
}

.detail strong {
  padding: 0.3571428571em 0.7142857143em;
  color: #FFFFFE;
  background-color: #E3B861;
  font-size: 0.875rem;
  font-weight: 500;
  border-radius: 0.3571428571em;
}